*{
    margin: 0px;
}
#headb span{
    color: #41EAD4;
    height: 80%;
    padding: 0.5% 1% 1% 1%;
    display: inline-block;
}
#headb{
    height: 5vh;
    background-color: #011627;
}
#S{
    height: 100vh;
    width: 100vw;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.3);
}
#img{
    height: 100%;
    width: 100%;
}
#nav{
    display: inline-block;
    width: 100vw;
    height: 10vh;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 5.2%;
    left: 0%;
    background-color: transparent;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}
#l{
    color: #2E2E2E;
    font-size: 300%;
    padding: 0.5% 1% 1% 2%;
    display: inline-block;
}
#sb{
    position: absolute;
    top: 25%;
    left: 70%;
    height: 40%;
    width: 15%;
    outline: none;
    border: none;
    border-radius: 50px 50px 50px 50px;
}
#tp{
    display: inline-block;
    color: #2E2E2E;
    position: absolute;
    top: 30%;
    left: 61%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
        
}
#ht{
    color: #FFF;
    position: absolute;
    top: 40vh;
    left: 60vw;
    line-height: 1.5;
    font-weight: bolder;
    text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.5);

}
#sh{
    background-color: white;
    height: 35vh;
    width: 12vw;
    margin: 4% 0% 0 4%;
    border-radius: 5px;
    padding: 5% 2% 2% 2%;
    position: absolute;
}
.sbt{
    padding: 2%;
    outline: black;
    border-color: #66afe9;   
}
#tg{
    padding: 1% 0% 0% 0%;
    display: inline-block;
    position: absolute;
    top: 5%;
    font-weight: bold;
    color: #0A7285;
    font-size: 18px;
}
#a{
    margin-top: 10px;
    margin-bottom: 100px;
    color: #0A7285;
    font-weight: bold;
    font-size: large;
}
#bt{
    height: 20px;
    width: 90px;
    border-radius: 4px;
    margin-top: 10px;
    background-color: #0A7285;
    margin-left: 38px;
    padding: 6px 12px;
    color: white;
    font-weight: 500;
    font-size: 15px;
}
#bt:hover{
    cursor: pointer;
}